@import 'theme.scss';

:local .heading {
  background: $primary;
}

:local .center {
  align-items: center;
  display: flex;
  justify-content: center;
}

:local .headingContainer {
  color: $color-text-inverted;
  padding: $baseline;
}
