@import 'theme.scss';

@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

@font-face {
  font-family: $font-family-heading;
  src:
    url("/static/fonts/hk-blocker-heavy.woff") format("woff"),
    url("/static/fonts/hk-blocker-heavy.woff2") format("woff2"),
    url("/static/fonts/hk-blocker-heavy.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Open Sans', system-ui, sans-serif;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

address {
  margin-bottom: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  margin-top: $font-size-base;
  max-width: 40rem;
  text-align: justify;
}

dl, ol, ul {
  margin-top: $baseline;
}

h1, h2, h3 {
  font-family: $font-family-heading;
  margin-top: $baseline * 1.5;
  /* Font-specific offset */
  margin-bottom: -14px;
  text-transform: uppercase;
}

body > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
