build
cc-test-reporter
coverage
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
lerna-debug.log
.next
node_deps
node_modules
npm-debug.log*
/.pnp
.pnp.js
__pycache__
*.retry
/roles
/*.tgz
