@import 'theme.scss';

:local .heading {
  margin-top: 0;
}

:local a.bubble {
  height: 5 * $baseline;
  margin-right: $baseline;
  width: 5 * $baseline;
}

:local .column {
  flex-direction: column;

  p {
    margin-left: auto;
    margin-right: auto;
  }
}
