@import 'theme.scss';

:local .heading {
  color: $body-bg;
}

:local .block {
  background: $primary;
  margin-top: $baseline * 2;
  overflow: hidden;
}

:local .container {
  padding: 1px 0 $baseline * 2;
}

:local .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -$baseline;
  padding: $baseline * 2 0;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  :local .list {
    margin: 0;
  }
}
