@import 'polocas-napadu-ui/variables.scss';

.box {
  background: $dark;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  padding: $baseline;
}

.closed {
  color: $primary;
  text-align: center;
  width: 100%;
}
