@import 'theme.scss';

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: $baseline * 3 / 4;

  & > * {
    margin: $baseline / 4;
    flex-shrink: 0;
  }
}

.inverse {
  margin-top: $baseline / 2;
  margin-bottom: $baseline / -2;
  & > * {
    margin: $baseline / 2;
  }
}
