@import 'polocas-napadu-ui/variables.scss';

.main h1 {
  padding: 0 $baseline;
}

.layout {
  background-color: $secondary;
  border-radius: $border-radius;
  border: none;
  max-width: 48rem;
  padding: $baseline * 2;
  margin: $baseline calc(-1 * $grid-gutter-width / 2);

  @include media-breakpoint-up('sm') {
    margin: $baseline auto;
  }

  h1, h2 {
    margin-top: 0;
  }
}
