@import '@polocas-napadu/ui/variables.scss';

.box {
  border: 1px solid $color-borders;
  border-radius: $baseline / 4;
  color: $color-text-dimm;
  padding: $baseline;

  summary {
    align-items: flex-start;
    cursor: default;
    display: flex;
    font-size: $h4-font-size;
    line-height: 1.5;
    list-style: none;
    vertical-align: middle;

    h1, h2, h3 {
      font-size: $h3-font-size;
    }

    & > * {
      margin-top: 0;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.icon {
  flex-shrink: 0;
  height: $h4-font-size * 1.5;
  margin-right: $font-size-base * 0.75;
  user-select: none;
  width: $h4-font-size;
}

.details {
  display: none;
  padding: 0 0 0 $h4-font-size + $font-size-base * 0.75;
}

.box.open {
  .details {
    display: block;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .details {
    display: block;
  }
}
