@import 'polocas-napadu-ui/variables.scss';

.counter {
  max-width: $baseline * 45;
  margin: $baseline auto;
}

.item {
  background: $secondary;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: $baseline / 2 auto;
  padding: $baseline * 2 $baseline;
  text-align: center;
  max-width: $baseline * 15;
}

.count {
  font-size: $h2-font-size;
}
