@import 'theme.scss';

:local .logistics {
  justify-content: center;

  .logisticsItem {
    margin-top: $baseline;
  }
}

:local .description {
  margin: $baseline auto 0;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local .addToCalendar > a {
  display: inline;
  padding: 0;
}

:local .ticketsButton {
  padding: $baseline *.75 $baseline;
  width: 100%;
  margin-top: $baseline;
  font-size: $h4-font-size;
  line-height: $baseline * 2;
  text-align: left;
  display: flex;
  align-items: center;

  svg {
    display: block;
    flex-shrink: 0;
    height: $h4-font-size * 1.5;
    margin-right: $font-size-base * 0.75;
    user-select: none;
    width: $h4-font-size * 1.5;
    vertical-align: top;
  }
}
