@import '@polocas-napadu/ui/variables.scss';

:local .chapter {
  margin-top: 3 * $baseline;
}

:local .heading {
  font-size: $h1-font-size;
  margin-bottom: 6 * $baseline;
  margin-top: -14 * $baseline;
  padding-top: 6 * $baseline;
  position: relative;
  z-index: 10;

  a {
    color: $color-text-inverted;
    text-shadow: $dark 0 0 $baseline;
  }
}

:local .body {
  font-size: 1.5 * $font-size-base;
}
