@import 'polocas-napadu-ui/variables.scss';

.sponsors {
  margin-top: $baseline;
  padding-top: $baseline;
  border-top: $border-default;

  h4 {
    color: lighten($body-color, 10%);
  }
}

.logo {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: $baseline * 5;
  margin: $baseline $baseline / 2;
  width: $baseline * 7;
}
