@import '@polocas-napadu/ui/variables.scss';

.menu {
  padding: $grid-base * 4;
}

.item {
  list-style: none;
}

.list {
  margin: 0;
  padding: 0;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
}
