@import 'polocas-napadu-ui/variables.scss';

a.button,
button.button {
  align-items: center;
  display: inline-flex;
  text-align: left;

  .icon {
    align-items: center;
    display: inline-flex;
    margin-right: calc($grid-base / 2);
  }

  &:global(.btn-lg) {
    .icon {
      margin-right: $grid-base;
    }
  }
}
