@import './variables.scss';

.fix {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.center {
  margin: 0;
  min-height: $screen-min-height;
}
