$font-family-base: 'Roboto';
$font-family-heading: 'HK Blocker Heavy';
$grid-base: 8px;
$font-size-base: 2 * $grid-base;

$line-height-base: 1.5;
$baseline: $font-size-base;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * 1;

$headings-line-height: 1.5;

$font-size-sm: $font-size-base * 0.75;

$nav-link-padding-y: calc($font-size-base / 2);
$custom-control-indicator-size: $font-size-base;
$custom-control-gutter: $font-size-base;

$alert-padding-y: $font-size-base;
$alert-padding-x: calc($font-size-base * 1.5);

@font-face {
  font-family: $font-family-heading;
  src:
    local($font-family-heading),
    url('./fonts/hk-blocker-heavy.woff') format('woff'),
    url('./fonts/hk-blocker-heavy.woff2') format('woff2'),
    url('./fonts/hk-blocker-heavy.eot') format('embedded-opentype');
  font-display: swap;
}
