@import './colors.scss';
@import './fonts.scss';
@import './grid.scss';

$screen-min-width: 320px;
$screen-min-height: 240px;

$paragraph-margin-bottom: 0;
$paragraph-max-width: $grid-base * 32;
$headings-margin-bottom: 0;

$button-base-background: $color-black-olive;
$button-base-color: $primary;

$button-primary-background: $primary;
$button-primary-color: $color-text-inverted;

$button-secondary-background: $color-text-base;
$button-secondary-color: $color-riptide;

$border-default: 1px solid darken($body-bg, 10%);

$breadcrumb-bg: $body-bg;
$breadcrumb-padding: $baseline;

@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_mixins.scss';
@import 'bootstrap/scss/_variables.scss';

$border-default: $border-width $border-color $border-style;
