@import 'theme.scss';

.carousel {
}

.inner {
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
}

.photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100%;
  width: 100%;
  max-width: map-get($container-max-widths, 'xl');
  opacity: 0;
  transition: opacity 3s, flex 0.5s ease;
  flex: auto;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;

  &.visible {
    opacity: 1;
  }
}

@media(min-width: map-get($grid-breakpoints, 'lg')) {
  .photo {
    position: relative;
    opacity: 0.5;
    width: auto;

    &.visible {
      flex: 32;
    }
  }
}
